In [1]:
# dictionary
# -multiple values accept
# -mutable data type
# -indexing
# -ordered
# -duplicate members
# - no duplicate index

In [2]:
a = {}
type(a)

dict

In [3]:
# a = {<key>:<value>,<key>:<value>}
a = {"A":"Apple","B":"Ball"}
b = {0:"Apple",1:"Ball"}
print(a)
print(type(a))

{'A': 'Apple', 'B': 'Ball'}
<class 'dict'>

In [4]:
a = {"A":"Apple","a":"Apple"}
print(a)

{'A': 'Apple', 'a': 'Apple'}

In [9]:
a = {"A":"Apple","a":"Apple"}
a["a"]

'Apple'

In [11]:
a = {1:"apple",0:"Apple"}
print(a)

{1: 'apple', 0: 'Apple'}

In [12]:
a = {"A":"Apple","A":"Ant"}
print(a)

{'A': 'Ant'}

In [15]:
# + *
a = {"A":"Apple"}
b = {"B":"Ball"}
# print(a+b)
print(a*2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [20]:
a = {"A":"Apple"}
b = {"B":"Ball"}
a.update(b)
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [21]:
a = {}
b ={"B":"Ball"}
a.update(b)
print(a)

{'B': 'Ball'}

In [23]:
a = {}
a['A'] = "Apple"
a['B'] = "BAll"
print(a)

{'A': 'Apple', 'B': 'BAll'}

In [24]:
a = {}
a['A'] = "Apple"
a['A'] = "BAll"
print(a)

{'A': 'BAll'}

In [25]:
c = {}
n = int(input("Enter n = "))
for i in range(n):
    a = input("Enter a = ")
    c[i] = a
print(c)

Enter n = 2
Enter a = Apple
Enter a = Ant
{0: 'Apple', 1: 'Ant'}

In [26]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9878776765
Enter name = Shyam
Enter phone = 9898998765
{'Ram': 9878776765, 'Shyam': 9898998765}

In [27]:
for i in info:
    print(i)

Ram
Shyam

In [29]:
for i in info.values():
    print(i)

9878776765
9898998765

In [30]:
for i in info.items():
    print(i)

('Ram', 9878776765)
('Shyam', 9898998765)

In [31]:
a = {'Ram': 9878776765, 'Shyam': 9898998765}
a['Ram'] = 9878776766
print(a)

{'Ram': 9878776766, 'Shyam': 9898998765}

In [32]:
a = {'Ram': 9878776765, 'Shyam': 9898998765}
del a['Ram']
print(a)

{'Shyam': 9898998765}

In [37]:
a = {'Ram': 9878776765, 'Shyam': 9898998765}
b = a.pop('Ram')
# print(a)
print(b)

9878776765

In [38]:
# list inside dicts
a = {'Ram': [9878776765,9808998866], 'Shyam': [9898998765,9808665544]}
print(a)
print(type(a))
print(len(a))

{'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}
<class 'dict'>
2

In [39]:
a['Ram']

[9878776765, 9808998866]

In [40]:
print(a['Ram'][1])

9878776765

In [2]:
a = {'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}
name = input("Enter name = ")
typ = int(input("Enter 0 for 'NTC' 1 for 'NCELL' "))
print("The info is = ",a[name][typ])

Enter name = Ram
Enter 0 for 'NTC' 1 for 'NCELL' 0
The info is =  9878776765

In [4]:
a = {'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}
a['Ram'].append(4456554)
print(a)

{'Ram': [9878776765, 9808998866, 4456554], 'Shyam': [9898998765, 9808665544]}

In [5]:
a = {'Ram': [9878776765, 9808998866, 4456554], 'Shyam': [9898998765, 9808665544]}
del a['Ram'][2]
print(a)

{'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}

In [6]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter NTC phone = "))
    ncell_phone = int(input("Enter NTC phone = "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n = 2
Enter name = Ram
Enter NTC phone = 35454
Enter NTC phone = 657567
Enter name = Shyam
Enter NTC phone = 44554546
Enter NTC phone = 686868768
{'Ram': [35454, 657567], 'Shyam': [44554546, 686868768]}

In [ ]:
# tuple inside dicts
a = {'Ram': (9878776765, 9808998866), 'Shyam': (9898998765, 9808665544)}

In [ ]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter NTC phone = "))
    ncell_phone = int(input("Enter NTC phone = "))
    info[name] = (ntc_phone,ncell_phone)
print(info)

In [ ]:
a = {1:["Ram","Nepal","9845778432"],2:["Ram","Nepal","984466678"]}

In [7]:
# dicts inside dicts
a = {"Ram":{"NTC":9841667766,"NCELL":9808556643},
    "Shyam":{"NTC":98416655332,"Ncell":9808552233}}
a

{'Ram': {'NTC': 9841667766, 'NCELL': 9808556643},
 'Shyam': {'NTC': 98416655332, 'Ncell': 9808552233}}

In [9]:
print(a["Ram"]["NTC"])

9841667766

In [10]:
for i in a.items():
    print(i)

('Ram', {'NTC': 9841667766, 'NCELL': 9808556643})
('Shyam', {'NTC': 98416655332, 'Ncell': 9808552233})

In [12]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter NTC phone = "))
    ncell_phone = int(input("Enter NTC phone = "))
    info[name] = {'NTC':ntc_phone,"NCELL":ncell_phone}
print(info)

Enter n = 2
Enter name = fgdgdgdf
Enter NTC phone = 3453454
Enter NTC phone = 3453455
Enter name = fgdfgdfgdf
Enter NTC phone = 354543
Enter NTC phone = 345435
{'fgdgdgdf': {'NTC': 3453454, 'NCELL': 3453455}, 'fgdfgdfgdf': {'NTC': 354543, 'NCELL': 345435}}

In [ ]:
a={1:{"Name":["Ram,Shyam"]},
  2:{"Name":["Ram,Shyam"]}}