In [1]:
# dictionary
# -multiple values accept
# -mutable data type
# -indexing
# -ordered
# -duplicate members
# - no duplicate index

In [2]:
a = {}
type(a)

dict

In [3]:
# a = {<key>:<value>,<key>:<value>}
a = {"A":"Apple","B":"Ball"}
b = {0:"Apple",1:"Ball"}
print(a)
print(type(a))

{'A': 'Apple', 'B': 'Ball'}
<class 'dict'>

In [4]:
a = {"A":"Apple","a":"Apple"}
print(a)

{'A': 'Apple', 'a': 'Apple'}

In [9]:
a = {"A":"Apple","a":"Apple"}
a["a"]

'Apple'

In [11]:
a = {1:"apple",0:"Apple"}
print(a)

{1: 'apple', 0: 'Apple'}

In [12]:
a = {"A":"Apple","A":"Ant"}
print(a)

{'A': 'Ant'}

In [15]:
# + *
a = {"A":"Apple"}
b = {"B":"Ball"}
# print(a+b)
print(a*2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [20]:
a = {"A":"Apple"}
b = {"B":"Ball"}
a.update(b)
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [21]:
a = {}
b ={"B":"Ball"}
a.update(b)
print(a)

{'B': 'Ball'}

In [23]:
a = {}
a['A'] = "Apple"
a['B'] = "BAll"
print(a)

{'A': 'Apple', 'B': 'BAll'}

In [24]:
a = {}
a['A'] = "Apple"
a['A'] = "BAll"
print(a)

{'A': 'BAll'}

In [25]:
c = {}
n = int(input("Enter n = "))
for i in range(n):
    a = input("Enter a = ")
    c[i] = a
print(c)

Enter n = 2
Enter a = Apple
Enter a = Ant
{0: 'Apple', 1: 'Ant'}

In [26]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9878776765
Enter name = Shyam
Enter phone = 9898998765
{'Ram': 9878776765, 'Shyam': 9898998765}

In [27]:
for i in info:
    print(i)

Ram
Shyam

In [29]:
for i in info.values():
    print(i)

9878776765
9898998765

In [30]:
for i in info.items():
    print(i)

('Ram', 9878776765)
('Shyam', 9898998765)

In [31]:
a = {'Ram': 9878776765, 'Shyam': 9898998765}
a['Ram'] = 9878776766
print(a)

{'Ram': 9878776766, 'Shyam': 9898998765}

In [32]:
a = {'Ram': 9878776765, 'Shyam': 9898998765}
del a['Ram']
print(a)

{'Shyam': 9898998765}

In [37]:
a = {'Ram': 9878776765, 'Shyam': 9898998765}
b = a.pop('Ram')
# print(a)
print(b)

9878776765

In [38]:
# list inside dicts
a = {'Ram': [9878776765,9808998866], 'Shyam': [9898998765,9808665544]}
print(a)
print(type(a))
print(len(a))

{'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}
<class 'dict'>
2

In [39]:
a['Ram']

[9878776765, 9808998866]

In [40]:
print(a['Ram'][1])

9878776765

In [2]:
a = {'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}
name = input("Enter name = ")
typ = int(input("Enter 0 for 'NTC' 1 for 'NCELL' "))
print("The info is = ",a[name][typ])

Enter name = Ram
Enter 0 for 'NTC' 1 for 'NCELL' 0
The info is =  9878776765

In [4]:
a = {'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}
a['Ram'].append(4456554)
print(a)

{'Ram': [9878776765, 9808998866, 4456554], 'Shyam': [9898998765, 9808665544]}

In [5]:
a = {'Ram': [9878776765, 9808998866, 4456554], 'Shyam': [9898998765, 9808665544]}
del a['Ram'][2]
print(a)

{'Ram': [9878776765, 9808998866], 'Shyam': [9898998765, 9808665544]}

In [6]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter NTC phone = "))
    ncell_phone = int(input("Enter NTC phone = "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n = 2
Enter name = Ram
Enter NTC phone = 35454
Enter NTC phone = 657567
Enter name = Shyam
Enter NTC phone = 44554546
Enter NTC phone = 686868768
{'Ram': [35454, 657567], 'Shyam': [44554546, 686868768]}

In [ ]:
# tuple inside dicts
a = {'Ram': (9878776765, 9808998866), 'Shyam': (9898998765, 9808665544)}

In [ ]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter NTC phone = "))
    ncell_phone = int(input("Enter NTC phone = "))
    info[name] = (ntc_phone,ncell_phone)
print(info)

In [ ]:
a = {1:["Ram","Nepal","9845778432"],2:["Ram","Nepal","984466678"]}

In [7]:
# dicts inside dicts
a = {"Ram":{"NTC":9841667766,"NCELL":9808556643},
    "Shyam":{"NTC":98416655332,"Ncell":9808552233}}
a

{'Ram': {'NTC': 9841667766, 'NCELL': 9808556643},
 'Shyam': {'NTC': 98416655332, 'Ncell': 9808552233}}

In [9]:
print(a["Ram"]["NTC"])

9841667766

In [10]:
for i in a.items():
    print(i)

('Ram', {'NTC': 9841667766, 'NCELL': 9808556643})
('Shyam', {'NTC': 98416655332, 'Ncell': 9808552233})

In [12]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter NTC phone = "))
    ncell_phone = int(input("Enter NTC phone = "))
    info[name] = {'NTC':ntc_phone,"NCELL":ncell_phone}
print(info)

Enter n = 2
Enter name = fgdgdgdf
Enter NTC phone = 3453454
Enter NTC phone = 3453455
Enter name = fgdfgdfgdf
Enter NTC phone = 354543
Enter NTC phone = 345435
{'fgdgdgdf': {'NTC': 3453454, 'NCELL': 3453455}, 'fgdfgdfgdf': {'NTC': 354543, 'NCELL': 345435}}

In [ ]:
a={1:{"Name":["Ram,Shyam"]},
  2:{"Name":["Ram,Shyam"]}}

In [ ]:
# WAP for billing (accounting) for a shop (CRUD)
# WAP for result management system (CRUD)

# WAPto get the maximum and minimum value in a dictionary
# WAP to remove duplicates from Dictionary
# WAP to change any key or index of a Dictionary
# WAP to drop empty Items from a given Dictionary. Go to the editor
#     Original Dictionary:
#     {'c1': 'Red', 'c2': 'Green', 'c3': None}
#     New Dictionary after dropping empty items:
#     {'c1': 'Red', 'c2': 'Green'}

In [ ]:
info = {1:{"Name":"Apple","QTY":3,"Price":100,"Total":300},
        2:{"Name":"Bat","QTY":1,"Price":200,"Total":200}}
total =

In [ ]:
info = {1:["Apple",3,100,300],
       2:["Bat",1,200,200]}

In [3]:
# wap for result management system(crud)

def total(maths, sci, eng, python):
    marks = ((maths + sci + eng + python) / 400) * 100
    if (marks >= 80):
        print('\nyou have scored a distinction')
    elif (marks < 80) & (marks >= 70):  # dont forget the brackets/parenthesis.
        print("\nyou have scored a 1st division")
    elif (marks < 70) & (marks >= 60):
        print("\nyou have scored a 2nd division")
    elif (marks < 60) & (marks >= 40):
        print("\nyou have scored a 3rd division")
    else:
        print("\nyou have failed")
result = {}
n = int(input("enter the no. of data you want to store: "))
for i in range(n):
    name = input("enter your name: ")
    maths= int(input("enter the marks for maths: "))
    sci = int(input("enter the marks for sci: "))
    eng = int(input("enter the marks for eng: "))
    python = int(input("enter the marks for py: "))
    result[name]={"Maths":maths, "Science": sci, "English":eng,"Python": python}
    total(maths,sci,eng,python)
    print (result)

enter the no. of data you want to store: 2
enter your name: Ram
enter the marks for maths: 78
enter the marks for sci: 89
enter the marks for eng: 67
enter the marks for py: 90

you have scored a distinction
{'Ram': {'Maths': 78, 'Science': 89, 'English': 67, 'Python': 90}}
enter your name: Shyam
enter the marks for maths: 89
enter the marks for sci: 78
enter the marks for eng: 90
enter the marks for py: 56

you have scored a 1st division
{'Ram': {'Maths': 78, 'Science': 89, 'English': 67, 'Python': 90}, 'Shyam': {'Maths': 89, 'Science': 78, 'English': 90, 'Python': 56}}

In [5]:
bill={}
total=0
nameofcust=input("enter the name =")
address=input("enter the address=")
n=int(input("enter the value of n="))
for i in range(1,n+1):
    items=input("enter the items name=")
    price=int(input("enter the items price="))
    quantity=int(input("enter the items quantity="))
    total_price= (price*quantity)
    bill[i]={'name':items,'cost':price,'total_items':quantity,'total_value':total_price}
    total=total+total_price
print(total)
print(bill)

#read
for i in bill.items():
    print(i)

#delete
a=bill.pop(1)
print(a)
#update

bill[2]={'name':"Fan",'cost':1000,'total_items':2}
print(bill[2])

enter the name =Ram
enter the address=Kathmandu
enter the value of n=2
enter the items name=Apple
enter the items price=100
enter the items quantity=2
enter the items name=Banana
enter the items price=110
enter the items quantity=3
530
{1: {'name': 'Apple', 'cost': 100, 'total_items': 2, 'total_value': 200}, 2: {'name': 'Banana', 'cost': 110, 'total_items': 3, 'total_value': 330}}
(1, {'name': 'Apple', 'cost': 100, 'total_items': 2, 'total_value': 200})
(2, {'name': 'Banana', 'cost': 110, 'total_items': 3, 'total_value': 330})
{'name': 'Apple', 'cost': 100, 'total_items': 2, 'total_value': 200}

NameError: name 'fan' is not defined

In [1]:
bill = {}
n = int(input("enter the no. of data you want to store: "))
total = 0
for i in range(n):
    name = input("enter item name: ")
    qty = int(input("enter item quantity: "))
    p = int(input("enter item price: "))
    total = total + p
    bill[i]={"Name": name, "Quantity":qty, "price":p}
print(bill)
print("total", total ,"rs")

def update():
    wht = input("what do you want to update ? (name/qty/price)")
    if wht.lower() == "name":
        uN = input("enter the name of item you want to update ?")
        for i in range(len(bill)):
            if uN.lower() in bill[i]['Name']:
                nN = input("enter the new name of item ?")
                bill[i]['Name']=  nN
                print("thank you")
            print(bill)
    elif  wht.lower() == "qty":
        print("thank you")
    elif wht.lower() == "price":
        print("thank you")
    else:
        print("wrong input")

up = input("do you want to update ? (y/n)")
if up.lower() == "y":
    update()
else:
    print("thank you")

enter the no. of data you want to store: 1
enter item name: hat
enter item quantity: 4
enter item price: 78
{0: {'Name': 'hat', 'Quantity': 4, 'price': 78}}
total 78 rs
do you want to update ? (y/n)y
what do you want to update ? (name/qty/price)name
enter the name of item you want to update ?hat
enter the new name of item ?hate
thank you
{0: {'Name': 'hate', 'Quantity': 4, 'price': 78}}

In [ ]:
# https://www.w3resource.com/python-exercises/dictionary/