In [1]:
# list
# -multiple values accept
# -mutable data type
# -indexing
# -ordered
# -duplicate members

In [4]:
a = ["Apple","Ball","Cat","Dog"]
print(a)
print(type(a))
print(len(a))

['Apple', 'Ball', 'Cat', 'Dog']
<class 'list'>
4

In [5]:
a= "Apple"
len(a)

5

In [9]:
a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[-1])

3

In [10]:
a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[0:4])

['Apple', 'Ball', 'Cat', 'Dog']

In [11]:
a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[0:7:2])

['Apple', 'Cat', 1, 3]

In [13]:
a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[6::-1])

[3, 2, 1, 'Dog', 'Cat', 'Ball', 'Apple']

In [15]:
a = ["Apple","Ball"]
b = ["Cat","Dog"]
print(b+a)

['Cat', 'Dog', 'Apple', 'Ball']

In [16]:
a = ["Apple","Apple"]
b = ["Apple","Ball"]*2
print(b)

['Apple', 'Ball', 'Apple', 'Ball']

In [17]:
a = [1,2,3]*2
a

[1, 2, 3, 1, 2, 3]

In [20]:
b = ["Apple","Ball"]+[2]
print(b)

['Apple', 'Ball', 2]

In [22]:
b = ["Apple","Ball"]+["Cat"]
print(b)

['Apple', 'Ball', 'Cat']

In [24]:
a = ['Apple', 'Ball', 'Cat']
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat']

In [29]:
y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y.append(x)
    
print(y)

Enter the value of n = 5
Enter x = 324
Enter x = 45
Enter x = 76
Enter x = 34
Enter x = 56
[324, 45, 76, 34, 56]

In [30]:
a = [324, 45, 76, 34, 56]
a.append(90)
print(a)

[324, 45, 76, 34, 56, 90]

In [33]:
a = [324, 45, 76, 34, 56, 90]
a.insert(2,"Python")

In [34]:
print(a)

[324, 45, 'Python', 76, 34, 56, 90]

In [35]:
y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter x = ")
    y.append(x)
print(y)

Enter the value of n = 5
Enter x = Ram
Enter x = Shyam
Enter x = Hari
Enter x = Gita
Enter x = Sita
['Ram', 'Shyam', 'Hari', 'Gita', 'Sita']

In [ ]:
y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter x = ")
    y = y+[x]
    
print(y)

In [41]:
y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y.append(x)
print("The final data is = ",y)
print("The max data is = ",max(y))
print("The min data is = ",min(y))
print("The sum data is = ",sum(y))
print("The avg data is = ",sum(y)/n)

Enter the value of n = 5
Enter x = 123
Enter x = 34
Enter x = 234
Enter x = 45
Enter x = 234
The final data is =  [123, 34, 234, 45, 234]
The max data is =  234
The min data is =  34
The sum data is =  670
The avg data is =  134.0

In [43]:
print("The final value is = ",y)
y.sort()
print("The sorted value is = ",y)

The final value is =  [123, 34, 234, 45, 234]
The sorted value is =  [34, 45, 123, 234, 234]

In [44]:
y.reverse()
print(y)

[234, 234, 123, 45, 34]

In [48]:
a =["apple",'zebra','ball','cat']
a.sort()
print(a)

['apple', 'ball', 'cat', 'zebra']

In [49]:
for i in a:
    print(i)

apple
ball
cat
zebra

In [51]:
n = len(a)
for i in range(n):
    print(i,a[i])

0 apple
1 ball
2 cat
3 zebra

In [53]:
a = ['Apple', 'ball', 'cat', 'zebra']
search = input("Enter the value of search = ")
if search in a:
    print("Yes",a.count(search))

Enter the value of search = apple
Yes 1

In [57]:
a = ['Apple', 'ball', 'Cat', 'zebra']
b = []
for i in a:
    j = i.lower()
    b.append(j)
    
print(b)

['apple', 'ball', 'cat', 'zebra']

In [62]:
a = ['Apple', 'ball', 'cat', 'zebra','Apple']
search = input("Enter the value of search = ").lower()

for i in range(len(a)):
    if search in a[i].lower():
        print("Yes")
        break

Enter the value of search = apple
Yes

In [1]:
# index remove del

In [4]:
a = ["Apple","Ball","Cat","Dog"]
a.index("Cat")

2

In [5]:
a = ["Apple","Ball","Cat","Dog"]
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog']

In [6]:
a = ["Apple","Ball","Cat","Dog"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog']

In [8]:
a = ["Apple","Ball","Cat","Dog"]
del a
print(a)

NameError: name 'a' is not defined

In [9]:
a = ["Apple","Ball","Cat","Dog"]
a.clear()
print(a)

[]

In [11]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog', 'Apple', 'Apple']

In [12]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
n = a.count("Apple")
for i in range(n):
    a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog']

In [13]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
n = a.count("Apple")
for i in range(n-1):
    a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog', 'Apple']

In [15]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
del a[0:4]
a

['Apple', 'Apple']

In [2]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
# n = a.count("Apple")
for i in range(len(a)):
    a.remove("Apple")
    print(a)

['Ball', 'Cat', 'Dog', 'Apple', 'Apple']
['Ball', 'Cat', 'Dog', 'Apple']
['Ball', 'Cat', 'Dog']

ValueError: list.remove(x): x not in list

In [3]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
a.index('Apple')

0

In [4]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
x = input("Enter value for search = ")
for i in range(len(a)):
    if a[i] == x:
        print(i)

Enter value for search = Apple
0
4
5

In [5]:
a = ["Ball","Cat","Dog","Apple","Apple"]
del a[0]

In [6]:
a

['Ball', 'Cat', 'Dog', 'Apple', 'Apple']

In [7]:
a = ["Apple","Ball","Cat","Dog","Apple","Apple"]
x = input("Enter value for search = ")
ind = []
for i in range(len(a)):
    if a[i] == x:
        ind.append(i)
        
print(ind)

Enter value for search = Apple
[0, 4, 5]

In [8]:
s = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter pone = "))
    info = f"{name}---{phone}\n"
    s = s+info
print(s)

Enter how many rows = 2
Enter name = Ram
Enter pone = 9878776765
Enter name = Shyam
Enter pone = 9897677655
Ram---9878776765
Shyam---9897677655

In [16]:
my_data = s.split('\n')
print(my_data[:-1])

['Ram---9878776765', 'Shyam---9897677655']

In [14]:
my_data[1]

'Shyam---9897677655'

In [11]:
a = "Apple Ball"
a.split('.')

['Apple', 'Ball']

In [19]:
my_data[1].split('---')

['Shyam', '9897677655']

In [21]:
s

'Ram---9878776765\nShyam---9897677655\n'

In [27]:
s = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter pone = "))
    info = f"{name}---{phone}\n"
    s = s+info
print(s)

z = []
my_data = s.split('\n')
updated_my_data = my_data[:-1]


for i in range(len(updated_my_data)):
    final_value = updated_my_data[i].split('---')
    z.append(final_value)
print(z)

[['Ram', '9878776765'], ['Shyam', '9897677655']]

In [2]:
# list inside list
a = [[],[],[],[]]
print(a)
print(type(a))
print(len(a))

[[], [], [], []]
<class 'list'>
4

In [3]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[0]

[1, 2, 3]

In [8]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[1][2]

6

In [10]:
a = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = [i,name,phone]
    a.append(info)
    
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 9878776545
Enter name = Shyam
Enter phone = 9088667765
[[1, 'Ram', 9878776545], [2, 'Shyam', 9088667765]]

In [13]:
sn = int(input("Enter sn = "))
print("The data is = ",a[sn-1])

Enter sn = 1
The data is =  [1, 'Ram', 9878776545]

In [14]:
# list inside list
# -multiple values accept
# -mutable data type
# -indexing
# -ordered
# -duplicate members

In [15]:
# -multiple values accept
a = [[1,2,3]]
a*2

[[1, 2, 3], [1, 2, 3]]

In [17]:
# -mutable data type
a = [["Apple","Ant"],["Ball","Bat"]]
a[0] = ["apple","ant"]
print(a)

[['apple', 'ant'], ['Ball', 'Bat']]

In [18]:
# -mutable data type
a = [["Apple","Ant"],["Ball","Bat"]]
a[0][0] = "apple"
print(a)

[['apple', 'Ant'], ['Ball', 'Bat']]

In [21]:
a = [["Apple","Ant"]]
b = [["Ball","Bat"]]
a+b

[['Apple', 'Ant'], ['Ball', 'Bat']]

In [23]:
a = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = [[i,name,phone]]
    a = a+info
    
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 9867776566
Enter name = Shyam
Enter phone = 9878887665
[[1, 'Ram', 9867776566], [2, 'Shyam', 9878887665]]

In [27]:
a = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = [i,name,phone]
    a.append(info)
    
print(a)

name = input("Enter name = ").lower()
for j in a:
    if name in j[1].lower():
         print(j)

Enter n = 2
Enter name = Ram
Enter phone = 9878887654
Enter name = Shyam
Enter phone = 986777654
[[1, 'Ram', 9878887654], [2, 'Shyam', 986777654]]
Enter name = Ram
[1, 'Ram', 9878887654]
[1, 'Ram', 9878887654]
[2, 'Shyam', 986777654]

In [29]:
name = input("Enter name = ").lower()
for j in a:
    if name in j[1].lower():
         print(j)

Enter name = ram
[1, 'Ram', 9878887654]

In [30]:
# delete
a = [[1, 'Ram', 9867776566], [2, 'Shyam', 9878887665]]
name = input("Enter name = ").lower()
for j in a:
    if name in j[1].lower():
         a.remove(j)
print(a)

Enter name = Ram

In [38]:
# update
a = [[1, 'Ram', 9867776566], [2, 'Shyam', 9878887665]]
name = input("Enter name = ").lower()
for j in a:
    if name in j[1].lower():
         j[1] = input("Enter new name =")
print(a)

Enter name = Ram
[[1, 'Ram Prasad', 9867776566], [2, 'Shyam', 9878887665]]

In [2]:
# WAP to make a result management system
results = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks  = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    result = [i,name,physics,chemistry,math,english,nepali,total,per]
    results.append(result)
    
print(result)

# search and view data
name = input("Enter name = ").lower()
for j in results:
    if name in j[1].lower():
         print(j)
            
# delete the data
name = input("Enter name = ").lower()
for j in results:
    if name in j[1].lower():
         results.remove(j)
print(results)

Enter n = 3
Enter name = babi
Enter physics marks  = 45
Enter chemistry marks = 78
Enter math marks = 67
Enter english marks = 56
Enter nepali marks = 56
Enter name = 45
Enter physics marks  = 45
Enter chemistry marks = 67
Enter math marks = 97
Enter english marks = 57
Enter nepali marks = 56
Enter name = kumari
Enter physics marks  = 67
Enter chemistry marks = 46
Enter math marks = 45
Enter english marks = 45
Enter nepali marks = 65
[3, 'kumari', 67, 46, 45, 45, 65, 268, 53.6]
Enter name = kumari
[3, 'kumari', 67, 46, 45, 45, 65, 268, 53.6]
Enter name = kumar
[[1, 'babi', 45, 78, 67, 56, 56, 302, 60.4], [2, '45', 45, 67, 97, 57, 56, 322, 64.4]]