In [1]:
# for
# while

In [2]:
# for(i = 0; i<5; i++){
#     <operations>
# }

In [3]:
# range(5)
# range(1,5)
# range(1,10,2)

In [5]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [11]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print("The sum is = ",s)
print("The average is = ",s/n)

Enter n = 5
Enter x = 234
Enter x = 54
Enter x = 243
Enter x = 45
Enter x = 32
The sum is =  608
The average is =  121.6

In [13]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+" "+x
print("The Entry is = ",s)

Enter n = 5
Enter x = Ram
Enter x = Shyam
Enter x = Hari
Enter x = Gita
Enter x = Sita
The Entry is =   Ram Shyam Hari Gita Sita

In [3]:
# validating phone no
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone no = ")
    length = len(phone)
    if length == 10:
        s = s +name+"--"+phone+"\n"
    else:
        print("Invalid no")
print("The Entry is = ",s)

Enter n = 1
Enter name = Ram
Enter phone no = 234
Invalid no
The Entry is =

In [1]:
a = "9841000000"
len(a)

10

In [10]:
# 5! = 1*2*3*4*5
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    print("The vaue of fac = ",fac)
print(fac)

Enter n = 5
The vaue of fac =  1
The vaue of fac =  2
The vaue of fac =  6
The vaue of fac =  24
The vaue of fac =  120
120

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [12]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
# prime and composite
# 1,1,2,3,5,8,13,...

In [20]:
a = "Python"
for i in a:
    print(i,end = " ")

P y t h o n

In [17]:
# (0,1,2,3,4)
for i in range(5):
    print(i)

0
1
2
3
4

In [1]:
# while

# while <condition>:
#     <operations>
#     <increment or decrement>

In [3]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
a = 1
while a<5:
    print(a,"Hello World")
    a = a+1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
a = 1
while a<=5:
    print(a,"Hello World")
    a = a+2

1 Hello World
3 Hello World
5 Hello World

In [7]:
s = 0
i = 0
n = int(input("Enter n = "))
# for i in range(n):
while i<n:
    x = int(input("Enter x = "))
    s = s+x
    i = i+1
print("The sum is = ",s)
print("The average is = ",s/n)

Enter n = 2
Enter x = 243
Enter x = 345
The sum is =  588
The average is =  294.0

In [9]:
a = 5
while a>0:
    print(a,"Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [13]:
for i in range(5,0,-1):
    print(i,"Python")

5 Python
4 Python
3 Python
2 Python
1 Python

In [19]:
a = "Python"
for i in range(5,-1,-1):
    print(a[i],end='')

nohtyP

In [5]:
a = input("Enter a = ")
n = len(a)
print(n)
# for i in range(5,-1,-1):
while (n-1)>=0:
    n = n-1
    print(a[n],end='')

Enter a = Python
6
nohtyP

In [4]:
n = int(input("Enter n = "))
i = 1
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
# 5! = 1*2*3*4*5
fac = 1
i = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac*i
    i = i+1
    print("The vaue of fac = ",fac)
print(fac)

Enter n = 4
The vaue of fac =  1
The vaue of fac =  2
The vaue of fac =  6
The vaue of fac =  24
24

In [7]:
# validating phone no
s = ""
n = int(input("Enter n = "))
a = 1
while a<=n:
    name = input("Enter name = ")
    phone = input("Enter phone no = ")
    length = len(phone)
    if length == 10:
        s = s +name+"--"+phone+"\n"
    else:
        print("Invalid no")
    a = a+1
        
print("The Entry is = ",s)

Enter n = 2
Enter name = Ram
Enter phone no = 9867665432
Enter name = Shyam
Enter phone no = 9878776567
The Entry is =  Ram--9867665432
Shyam--9878776567

In [17]:
 def chknum(num):
    for i in range(2,(num//2)):
        if num%i==0:
            print("composite")
            break
    else:
        print("prime")
        
num = int(input("enter a number greater then 2 = "))
if num<3:
  print("wrong input")
else:
  chknum(num)

enter a number greater then 2 = 11
prime

In [10]:
# break continue pass
for i in range(5):
    print("Hello World")
    break

Hello World

In [12]:
a = "Python"
for i in a:
    if i == "o":
        break
    print(i)

P
y
t
h

In [1]:
# continue statement
a = "Python"
for i in a:
    if i == "o":
        continue
    print(i)

P
y
t
h
n

In [2]:
for i in range(1,11):
    if (i%2 ==0):
        continue
    print(i)

1
3
5
7
9

In [3]:
for i in range(1,11):
    if (i%2 !=0):
        continue
    print(i)

2
4
6
8
10

In [4]:
for i in range(1,51):
    if (i%5 !=0):
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [7]:
for i in range(1,51):
    if (i%5 !=0):
        continue
    print(i)

1
2
3
4
6
7
8
9

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish","Dog"]
for i in a:
    if i == "Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish","Dog"]
for i in a:
    if i == "Dog":
        break
    print(i)

In [14]:
def cal():
    pass

cal()

In [20]:
a = 10
b = 12
if a<b:
    pass

10

In [18]:
for i in range(1,11):
    if (i%5 !=0):
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
# Nested loop
# --Nested_for

In [23]:
for i in range(1,5):
    for j in range(1,5):
        print(i,"Hello World")

1 Hello World
1 Hello World
1 Hello World
1 Hello World
2 Hello World
2 Hello World
2 Hello World
2 Hello World
3 Hello World
3 Hello World
3 Hello World
3 Hello World
4 Hello World
4 Hello World
4 Hello World
4 Hello World

In [25]:
for i in range(1,5):
    for j in range(0,2):
        phone = int(input("phone = "))

phone = 8686
phone = 9798
phone = 79878
phone = 987987
phone = 8789
phone = 89789
phone = 8987
phone = 978978

In [27]:
for i in range(1,5):
    for j in range(0,2):
        if j == 0:
            continue
        print(i,j)

1 1
2 1
3 1
4 1

In [41]:
for i in range(1,5):
    if i == 2:
        continue
    else:
        for j in range(0,2):
            print(i,j)

1 0
1 1
3 0
3 1
4 0
4 1

In [42]:
for i in range(0,2):
    for j in range(0,2):
        print(i,j)

0 0
0 1
1 0
1 1

In [69]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end = ' ')
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [52]:
 
a=4
spc=" "
for i in range(1,6):
  print(a*spc,end="")
  a=a-1
  for j in range(6):
    print("*"*j,end="")
  for k in range(6):
    print("*"*k,end="")
    k = k-1
  print()

    ******************************
   ******************************
  ******************************
 ******************************
******************************

In [66]:
a = 1
b = " "
for i in range(10,-1,-1):
  print(i*b,"*"*a+"*"*(a-1))
  a = a+1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************