In [2]:
a = "Apple"
print(type(a))

<class 'str'>

In [24]:
a[5]

'n'

In [27]:
a[0:5]

'Python'

In [28]:
a[:5:2]

'Pto'

In [33]:
a = "Python"
a[5::-1]

'nohtyP'

In [34]:
a = "Apple "
b = "Ball"
print(a+b)

Apple Ball

In [35]:
a = input("Enter a = ")
b = input("Enter b = ")
print(a+b)

Enter a = 10
Enter b = 20
1020

In [36]:
a = "10"
b = 20
print(a+str(b))

1020

In [37]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
info = "Hello my name is "+name+" I am "+str(age) +" I am from" +add
print(info)

Enter name = Ram
Enter age = 78
Enter address = Kathmandu
Hello my name is Ram I am 78I am fromKathmandu

In [39]:
# String Formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
info = f"Hello my name is {name}. I am {age}. I am from {add}"
print(info)

Enter name = Ram
Enter age = 40
Enter address = Kathmandu
Hello my name is Ram I am 40 I am from Kathmandu

In [1]:
s = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter pone = "))
    info = f"{name}---{phone}\n"
    s = s+info
    
print("The info are \n",s)

Enter how many rows = 2
Enter name = Ram
Enter pone = 9867665654
Enter name = Shyam
Enter pone = 9878776565
The info are
 Ram---9867665654
Shyam---9878776565

In [4]:
if "Ram" in s:
    print("Yes",s.count("Ram"))
else:
    print("No")

Yes 1

In [11]:
name = input("Enter name = ")
if name in s:
    print("Yes",s.count("Ram"))
else:
    print("No")

Enter name = Ram-
Yes 1

In [12]:
a = "Apple"
a.upper()

'APPLE'

In [13]:
a = "Apple"
a.lower()

'apple'

In [14]:
name = input("Enter name = ").lower()
if name in s.lower():
    print("Yes",s.count("Ram"))
else:
    print("No")

Enter name = ram
Yes 1

In [16]:
# Replacing the words
a = "Python C++ Java"
b = a.replace("Java","C")
print(b)

Python C++ C

In [17]:
s = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter pone = "))
    info = f"{name}---{phone}\n"
    s = s+info

Enter how many rows = 2
Enter name = 1
Enter pone = 2422423
Enter name = 2
Enter pone = 323423

In [19]:
# Entry
s = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter pone = "))
    info = f"{name}---{phone}\n"
    s = s+info
    
print("The info are \n",s)
x = input("Enter 1 for Search 2 for Replace = ")
if x =='1':
    # Search 
    name = input("Enter name = ").lower()
    if name in s.lower():
        print("Yes",s.count(name))
    else:
        print("No")
elif x =='2':
    # Replace
    data = input("Enter data = ")
    replace = input("Enter replace data = ")
    final_data = s.replace(data,replace)
    print(final_data)

Enter how many rows = 2
Enter name = 1
Enter pone = 442423
Enter name = 2
Enter pone = 123123
The info are
 1---442423
2---123123

Enter 1 for Search 2 for Replace = 1
Enter name = 1
Yes 3

In [25]:
a = "Ram - 983131213\nShyam - 9800000013"
print(a)

Ram - 983131213
Shyam - 9800000013

In [26]:
b = a.replace("213","214")
print(b)

Ram - 983131214
Shyam - 9800000013

In [28]:
a = ["Ram - 983131213","Shyam - 9800000013"]
a[0] = "Ram - 983131214"
a

['Ram - 983131214', 'Shyam - 9800000013']

In [32]:
info = "1-Ram\n2-Shyam"
print(info)

1-Ram
2-Shyam

In [33]:
a = info.replace("2-Shyam","")
print(a)

1-Ram

In [35]:
print(info)

1-Ram
2-Shyam

In [ ]:
# WAP to entry multiple student result (entry,result,search,update)