In [1]:
# tuple
# -multiple values accept
# -Not mutable data type
# -indexing
# -ordered
# -duplicate members

In [9]:
a = (1,2,3,4,)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [8]:
a = ("Apple",)
type(a)

tuple

In [10]:
a = ("Apple",)
a*3

('Apple', 'Apple', 'Apple')

In [13]:
a = ("Apple","Ball","Cat")
a[2]

'Cat'

In [14]:
a = ("Apple","Ball","Cat")
b = ("Fish",)
print(a+b)

('Apple', 'Ball', 'Cat', 'Fish')

In [30]:
def cal():
    l = 10
    b = 20
    return l,b
cal()

(10, 20)

In [16]:
a = ("Apple","Ball","Cat")
a[0:2]

('Apple', 'Ball')

In [17]:
y = ()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = y+(x,)
    
print(y)

Enter the value of n = 2
Enter x = 1
Enter x = 2
(1, 2)

In [19]:
a = ('Apple', 'Ball', 'Cat')
a[0] = "Ant"
print(a)

TypeError: 'tuple' object does not support item assignment

In [26]:
a = (324, 45, 76, 34, 56, 90)
b= a[0:1]
c = ("Python",)
d = a[2:]
a = b+c+d
print(a)

(324, 'Python', 76, 34, 56, 90)

In [32]:
y = ()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = y+(x,)
print("The final data is = ",y)
print("The max data is = ",max(y))
print("The min data is = ",min(y))
print("The sum data is = ",sum(y))
print("The avg data is = ",sum(y)/n)

Enter the value of n = 5
Enter x = 12
Enter x = 243
Enter x = 35
Enter x = 12
Enter x = 43
The final data is =  (12, 243, 35, 12, 43)
The max data is =  243
The min data is =  12
The sum data is =  345
The avg data is =  69.0

In [36]:
a = (12, 243, 35, 12, 43)
print(sorted(a))
print(a)

[12, 12, 35, 43, 243]
(12, 243, 35, 12, 43)

In [37]:
a = ("Apple","Ball","Cat")
for i in a:
    print(i)

Apple
Ball
Cat

In [38]:
a = ("Apple","Ball","Cat")
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat

In [39]:
a = ("Apple","Ball","Cat")
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 1

In [41]:
a = ('Apple', 'ball', 'cat', 'zebra','Apple')
search = input("Enter the value of search = ").lower()

for i in range(len(a)):
    if search in a[i].lower():
        print("Yes")
        break

Enter the value of search = baLL
Yes

In [43]:
a = ('Apple', 'ball', 'cat', 'zebra','Apple')
del a
print(a)

NameError: name 'a' is not defined

In [44]:
a = ("Apple","Ball","Cat","Dog","Apple","Apple")
x = input("Enter value for search = ")
for i in range(len(a)):
    if a[i] == x:
        print(i)

Enter value for search = Apple
0
4
5

In [45]:
a = ("Apple","Ball","Cat","Dog","Apple","Apple")
a.index("Ball")

1

In [46]:
a = ("Apple","Ball","Cat","Dog","Apple","Apple")
b = list(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple']

In [47]:
a = ("Apple","Ball","Cat","Dog","Apple","Apple")
b = list(a)
b.remove('Ball')
a = tuple(b)
print(a)

('Apple', 'Cat', 'Dog', 'Apple', 'Apple')

In [48]:
a = ("Apple","Ball","Cat","Dog","Apple","Apple")
b = list(a)
b[1] = "Bat"
a = tuple(b)
print(a)

('Apple', 'Bat', 'Cat', 'Dog', 'Apple', 'Apple')

In [51]:
a = "Python . @ $"
print(tuple(a))
print(list(a))

('P', 'y', 't', 'h', 'o', 'n', ' ', '.', ' ', '@', ' ', '$')
['P', 'y', 't', 'h', 'o', 'n', ' ', '.', ' ', '@', ' ', '$']

In [52]:
a = "Python"
b = (a,)
b

('Python',)

In [55]:
a = "Python"
b = tuple(a)
a = str(b)
a

"('P', 'y', 't', 'h', 'o', 'n')"

In [56]:
# tuple inside tuple
a = ((),(),())
print(type(a))
print(len(a))

<class 'tuple'>
3

In [57]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
print(type(a))
print(len(a))

<class 'tuple'>
3

In [59]:
a = ()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = (i,name,phone)
    a = a+(info,)
    
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 98798798
Enter name = Shyam
Enter phone = 898798978
((1, 'Ram', 98798798), (2, 'Shyam', 898798978))

In [60]:
# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9])
print(a)
print(type(a))

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [62]:
a[0].append(4)
print(a)

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [63]:
del a[0][3]
print(a)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [67]:
a = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
a[0][2] = 33
a

([1, 2, 33], [4, 5, 6], [7, 8, 9])

In [71]:
# tuple insede list
a = [(1,2,3),(4,5,6),(7,8,9)]
a[0] = (1,2,33)
a

[(1, 2, 33), (4, 5, 6), (7, 8, 9)]

In [72]:
# tuple insede list
a = [(1,2,3),(4,5,6),(7,8,9)]
a.append((10,11,12))
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [75]:
del a[3]

In [76]:
print(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
# WAP to change tuple inside tuple into list inside list and vice versa